langchain
langchain_community
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv

langgraph
langsmith
langchain_tavily


langchain-groq
langchain-mcp-adapters
mcp

langchain-core
pypdf
pymupdf
sentence-transformers
chromadb
faiss-cpu
huggingface-hub


deepagents
tavily-python